<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>歌診断スタート</title>
        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
        <style>
        .nav-list-item {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .start {
            margin-top: 30px;
        }

        .btn {
            width: 250px;
            height: 60px;
        }
    </style>
    </head>

    <body>
    <div class="drive">
                <h4> ドライブの曲について </h4>
                </div>
        
        <div class="start">
            <div class="hazime">
                <h6>下のボタンを押して診断を始めよう</h6>
            </div>
            <%= link_to new_kensak_path, class: 'btn btn-3d-flip' do %>
                <span class="btn-3d-flip-box">
                  <span class="btn-3d-flip-box-face btn-3d-flip-box-face--front">準備はいい？<i class="fas fa-angle-right fa-position-right"></i></span>
                  <span class="btn-3d-flip-box-face btn-3d-flip-box-face--back">診断スタート！<i class="fas fa-angle-right fa-position-right"></i></span>
                </span>
            <% end %>
        </div>
    </body>
</html>
