<div class="rankin">
  <p>いいねランキング</p>
  <% @rank_krks.each do |t| %>
    <div class="rankin-item">
      <span class="name"><%= t.name %></span>
      <span class="about"><%= t.about %></span>
      <span class="likes-count"><%= t.likes.count %></span>
    </div>
  <% end %>
  <%= link_to "homeに戻る", krks_path, class: 'btn-small' %>
</div>
