/* フォームのスタイル */
body {
  background-color: #D6FFFD; /* これは薄いグレー色です */
}
.field {
  padding-bottom: 20px;
  width: 460px;
}
.field label {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
}
.field input[type=text] {
  border: 5px solid #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #000000;
  font-size: 20px;
  padding: 10px;
  height: 40px;
  width: 460px;
}
.msr_pulldown_04 {
  padding-bottom: 20px;
  position: relative;
  width: 230px;
}
.msr_pulldown_04 p {
  font-size: 14px;
  padding-bottom: 5px;
}
.msr_pulldown_04 select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(/stylerecipe_img/msr04_pulldown_btn01.png) no-repeat right;
  border: 5px solid #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  padding: 5px 10px;
  height: 40px;
  width: 230px;
}

/*--------------------------------------
ファイル選択
---------------------------------------*/

.msr_file_04 {
  padding-bottom: 20px;
  width: 460px;
}
.msr_file_04>p {
  font-size: 14px;
  padding-bottom: 5px;
}
.msr_filebox_04 input[type=file] {
  display: none;
}
.msr_filebox_04 label {
  border: 5px solid #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  padding: 5px 10px;
  position: relative;
  height: 40px;
  width: 460px;
}
.msr_filebox_04 label:before {
  background: #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "Browse...";
  color: #fff;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  padding-top: 5px;
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  width: 99px;
}

/*--------------------------------------
テキストエリア
---------------------------------------*/

.msr_textarea_04 {
  padding-bottom: 10px;
  width: 460px;
}
.msr_textarea_04 label {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
}
.msr_textarea_04 textarea {
  border: 5px solid #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #000000;
  font-size: 13px;
  padding: 10px;
  height: 210px;
  width: 460px;
}

/*--------------------------------------
送信ボタン
---------------------------------------*/
.msr_sendbtn_04 {
  margin:0 0 10px;
  position: relative;
  height: 50px;
  width: 150px;
}
.msr_sendbtn_04 input[type=submit] {
  background: #000000;
  background-position: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  height: 50px;
  width: 150px;
}
.msr_sendbtn_04:before {
  border: 6px solid transparent;
  border-left: 6px solid #FFFFFF;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: inline-block;
  height: 12px;
  position: absolute;
  top: 20px;
  left: 20px;
  vertical-align: middle;
  width: 6px;
  z-index: 10;
}
.msr_sendbtn_04 input[type=submit]:hover {
  opacity: 0.6;
}
.msr_sendbtn_04_disabled input[type=submit]{
  background: #FFFFFF;
  border: 5px solid #DDDDDD;
  color: #DDDDDD;
  cursor: default;
}
.msr_sendbtn_04_disabled:before {
  border-left: 6px solid #DDDDDD;
  content: "";
}
.msr_sendbtn_04_disabled input[type=submit]:hover {
  opacity: 1;
}
  .krks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .krk {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    width: calc(25% - 10px); /* 4列のレイアウトに変更。 */
    background-color: #933939; /* 背景色を茶色に設定 */
    color: #9cd946;
}

  
  
  .krk img {
    max-width: 100%;
    border-radius: 4px;
  }
  .post {
    position: relative; /* 親要素を相対位置に設定 */
}

.post img {
    width: 100%; /* 画像の幅を100%に設定 */
}

.post .text {
    position: absolute; /* テキストを絶対位置に設定 */
    top: 70%; /* 上から50%の位置に配置 */
    left: 50%; /* 左から50%の位置に配置 */
    transform: translate(-50%, -50%); /* テキストの位置を微調整 */
    color: #ffffff; /* テキストの色を白に設定 */
}
/* 全てのボタン用のスタイル */
.btn-small {
  padding: 3px 5px;
  font-size: 7px;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  margin-right: 3px;
  transition: background-color 0.3s;
}

.btn-small.btn-edit {
  background-color: #FFA500; /* オレンジ */
  color: white;
}

.btn-small.btn-edit:hover {
  background-color: #FF8C00; /* 濃いオレンジ */
}

.btn-small.btn-delete {
  background-color: #FF4500; /* 赤 */
  color: white;
}

.btn-small.btn-delete:hover {
  background-color: #FF6347; /* 濃い赤 */
}

.btn-small.btn-detail {
  background-color: #32CD32; /* 緑 */
  color: white;
}

.btn-small.btn-detail:hover {
  background-color: #228B22; /* 濃い緑 */
}
